.label {
    -fx-font-family: "Consolas";
}

#headline {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#info {
    -fx-font-size: 15px;
}

.button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-background-color: #1F141A;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #2A3B5F;
    -fx-border-width: 2px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #2A3B5F;
}

.button:pressed {
    -fx-background-color: #18233D;
    -fx-translate-y: 2px;
}