.label {
    -fx-font-family: "Consolas";
}

#headline {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#info {
    -fx-font-size: 15px;
}

.button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-background-color: #1F141A;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #2A3B5F;
    -fx-border-width: 2px;
    -fx-cursor: hand;
}

#labelTimeToSurvie {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-background-color: #1F141A;
    -fx-text-fill: white;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-border-color: #2A3B5F;
    -fx-border-width: 0px;
    -fx-cursor: hand;

}

.button:hover {
    -fx-background-color: #2A3B5F;
}

.button:pressed {
    -fx-background-color: #18233D;
    -fx-translate-y: 2px;
}

.text-field {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-background-color: #1F141A;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #2A3B5F;
    -fx-border-width: 2px;
}

.text-field:focused {
    -fx-background-color: #2A3B5F;
    -fx-border-color: #18233D;
}

.text-field:hover {
    -fx-background-color: #2A3B5F;
}

.text-field:focused {
    -fx-background-color: #18233D;
}

#timeToSurivie {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;

}

#warning {
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 10px 20px;
    -fx-background-color: #18233D;
    -fx-text-fill: darkred;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #2A3B5F;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0, 2, 2); /* Schwarzer Schatten */
}

.combo-box {
    -fx-font-family: "Consolas";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #1F141A;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #2A3B5F;
    -fx-border-width: 2px;
    -fx-cursor: hand;
}

.combo-box .list-view {
    -fx-background-color: #1F141A;
    -fx-border-color: #2A3B5F;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
}

.combo-box .list-cell {
    -fx-background-color: #1F141A;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.combo-box .list-cell:hover {
    -fx-background-color: #2A3B5F;
}

.combo-box .list-cell:selected {
    -fx-background-color: #18233D;
    -fx-text-fill: white;
}

.combo-box .arrow-button {
    -fx-background-color: #1F141A;
    -fx-border-radius: 0 8px 8px 0;
    -fx-border-color: #2A3B5F;
    -fx-border-width: 2px;
}

.combo-box .arrow {
    -fx-background-color: white;
}

.combo-box:pressed {
    -fx-background-color: #18233D;
    -fx-translate-y: 2px;
}